.box{
   padding-bottom: 25px;
    padding-top: 120px;
    background-color: ;
    border-radius: 5px;
    box-shadow: 5;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-top: 0%;
    
}

.btn{
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: black;
    padding: 8px;
    width: 120px;
    margin-top: 10px;
    display: block;
    margin-left: 100px;
    
}

input[type=text]{
    
    width: 200px;
    height: 25px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;

}

label{
    
    margin-left: 10px;
    display: inline-block;

}